﻿@model Jokes.Models.Joke
@{
    ViewBag.Title = "PleaseRegister";
}

<div class="jumbotron" align="center">
    To be able to rate jokes and get better recommended jokes, you need to be registered.
    <br><br />
    Please consider creating an account.
    <br><br />
    @Html.ActionLink("Register »", "Register", "Account", new { id = Model.Id }, new { @class = "btn btn-dark btn-md" })
    @Html.ActionLink("Back »", "Index", "Home", new { id = Model.Id }, new { @class = "btn btn-light btn-md ml-2" })
</div>