﻿@model Jokes.Models.Joke
@{
    ViewBag.Title = "Thank you for the rating!";
}


<div class="jumbotron" align="center">
    <h2>Thank you for your opinion.</h2>
    <br><br />
    @Html.ActionLink("Random »", "GetNewRandomJoke", "Home", new { id = Model.Id }, new { @class = "btn btn-info btn-lg" })
    @Html.ActionLink("Recommend »", "GetNewRecommendedJoke", "Home", new { id = Model.Id }, new { @class = "btn btn-warning btn-lg" })
</div>